.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}
@font-face {
    font-family: 'SF Pro Display', sans-serif;
    src: url(../../assets/fonts/SFPRODISPLAYREGULAR.OTF);
}

body{
    font-family: 'SF Pro Display', sans-serif;
}
