header {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    .nav {
        height: 60px;

        &__wrapper {
            backdrop-filter: blur(5px);
            &--tb {
                display: none;
                align-items: center;
                
                &-left {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    input {
                        width: 450px;
                        padding: 7px;
                        border: none;
                    }
                }

                &-right {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    &-sss {
                        display: none;
                    }
                    
                }
            }

            &--top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 51px;
                &-left {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #100e0e;
                    }
                    select {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #0071e4;
                        border: none;
                    }
                }

                &-right {
                    display: flex;
                    align-items: end;
                    gap: 8px;
                }
            }

            &--down {
                padding-top: 33px;
                .wrapper {
                    display: flex;
                    align-items: center;
                    gap: 41px;
                    &__left {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        &__content {
                            display: flex;
                            text-align: center;
                            align-items: center;
                            gap: 40px;
                            p {
                                font-style: normal;
                                font-weight: 600;
                                font-size: 11.9px;
                                line-height: 21px;
                                color: #100e0e;
                                border: 0.01px solid transparent;
                                &:hover {
                                    transition: all 0.12s ease;
                                    cursor: pointer;
                                    color: $dark-blue;
                                    border-bottom: 2px solid $dark-blue;
                                }
                            }
                            .zb {
                                background: #fdefbf;
                                border-radius: 8px;
                                &:hover {
                                    background: #ffffff;
                                    border-radius: 1%;
                                }
                            }
                        }

                        &__contact {
                            position: relative;
                            top: 10px;
                            &--sss {
                                display: flex;
                                align-items: flex-start;
                                gap: 8px;
                                margin-bottom: 4px;
                                p {
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #100e0e;
                                    &:hover{
                                        transition: all 0.2s ease;
                                        cursor: pointer;
                                        color: $light-blue;
                                    }
                                }
                            }

                            a {
                                text-decoration: none;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: $dark-blue;
                                &:hover{
                                    color: $light-blue;

                                }
                            }
                        }
                    }
                }
            }

            &--down1 {
                padding-top: 38px;
                display: flex;
                align-items: center;
                gap: 28px;
                .div2 {
                    width: 250px;
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;
                    background: #0071e4;
                    border-radius: 16px;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        background: $light-blue;
                        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
                        transition: all 0.2s ease-out;
                    }
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #ffffff;
                    }
                }

                input {
                    width: 100%;
                    height: 56px;
                    padding: 26px;
                    border: 1px solid #b7b7b7;
                    border-radius: 8px;
                }

                .div1 {
                    display: flex;
                    align-items: center;
                    background: $green-dark;
                    text-decoration: none;
                    padding: 16px 34px;
                    border-radius: 16px;
                    cursor: pointer;
                    gap: 15px;

                    &:hover {
                        background: $green-light;
                        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
                        transition: all 0.2s ease-out;
                    }
                    div {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin: 0;
                        padding: 0;

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 24px;
                            color: #ffffff;
                        }

                        span {
                            padding: 4px 12px;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            color: #ffffff;
                            border-radius: 50%;

                            background: #46c609;
                            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }

            &--products {
                display: flex;
                align-items: center;
                padding-top: 40px;
                gap: 32px;
                &-item {
                    display: flex;
                    align-items: center;
                    gap: 11px;
                    cursor: pointer;
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #100e0e;
                    }

                    &:hover {
                        p {
                            color: $dark-blue;
                        }
                        path {
                            fill: $dark-blue;
                        }
                    }
                }

                &-con {
                    display: flex;
                    align-items: center;
                    gap: 11px;
                    background: linear-gradient(90deg, #000000 22.19%, #5e556b 100%);
                    border-radius: 8px;
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #ffffff;
                    }
                    img {
                        padding: 1px 16px;
                    }
                }
            }
            @media only screen and (max-width: 768px) {
                width: 768px;
                &--tb {
                    display: flex;

                    &-right {
                        .nav__wrapper--tb-right-sss {
                            display: none;
                        }
                        div {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            p {
                                
                                width: 130px;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #100e0e;
                            }
                        }
                    }
                }
                &--top {
                    display: none;
                }
                &--down {
                    display: none;
                }
                &--down1 {
                    display: none;
                }
                &--products {
                    display: none;
                }
            }

            @media only screen and (max-width: 320px) {
                width: 320px;
                &--tb {
                    display: flex;
                    gap: 120px;
                    &-left {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        input {
                            width: 450px;
                            padding: 7px;
                            border: none;
                            display: none;
                        }
                    }

                    &-right {
                        .nav__wrapper--tb-right-sss {
                            display: flex;
                            gap: 10px;
                        }
                        div {
                            display: flex;
                            gap: 1.5px;
                            align-items: center;
                            p {
                                display: none;
                            }
                            .sss {
                                display: flex;
                            }
                        }
                    }
                }
                &--top {
                    display: none;
                }
                &--down {
                    display: none;
                }
                &--down1 {
                    display: none;
                }
                &--products {
                    display: none;
                }
            }
        }
    }
}
