.intro {
    margin-top: 350px;
    height: 480px;
    margin-bottom: 360px;
    background: #d0eafc;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 99px;
        &__in {
            display: flex;
            align-items: center;
            gap: 48px;

            &--text {
                p {
                    margin-bottom: 29px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 38px;
                    color: #1e3240;

                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 48px;
                        line-height: 57px;
                        color: #1e3240;
                    }
                }

                a {
                    padding: 18.5px 39.5px;
                    background: #0071e4;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #ffffff;
                    border-radius: 8px;
                    text-decoration: none;
                    &:hover {
                        transition: all 0.2s ease-in-out;
                        background: $light-blue;
                    }
                }

                &-zzz {
                    display: none;
                }
            }
            &--img2 {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .intro {
        margin-top: 40px;
        .wrapper {
            width: 768px;
            &__in {
                display: block;
                text-align: center;
                .wrapper__in--text-zzz1 {
                    display: flex;
                }
                .wrapper__in--text-zzz {
                    display: none;
                }
                &--img1 {
                    display: none;
                }

                &--img2 {
                    display: flex;
                    padding-top: 31px;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .intro {
        .wrapper {
            width: 320px;
            .left {
                width: 9.6px;
                height: 16.8px;
            }
            .right {
                width: 9.6px;
                height: 16.8px;
            }
            &__in {
                display: block;
                text-align: center;
                .wrapper__in--text-zzz1 {
                    display: flex;
                    width: 192px;
                    height: 45px;
                }
                .wrapper__in--text-zzz {
                    display: none;
                }

                img {
                    width: 173px;
                    height: 207px;
                }
                &--text {
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #1e3240;

                        span {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 32px;
                            line-height: 38px;
                            color: #1e3240;
                        }
                    }

                    img {
                        width: 192px;
                        height: 45px;
                    }

                    a {
                        padding: 10.5px 39.5px;
                    }
                }
            }
        }
    }
}
